Assets/Scenes/FurScene.unity
Assets/Scenes/GrassScene.unity
UserSettings/Layouts/default-2022.dwlt
.vs/
.vsconfig
Assembly-CSharp.csproj
Assets/Screenshot.cs
Assets/Screenshot.cs.meta
Library/
Logs/
Screenshot_Fur.png
Screenshot_Grass.png
"Shell Texturing - GrassScene - Windows, Mac, Linux - Unity 2022.3.17f1 _DX11_ 2024_05_19 20_28_18.png"
"Shell Texturing - GrassScene - Windows, Mac, Linux - Unity 2022.3.17f1 _DX11_ 2024_05_19 20_29_43.png"
"Shell Texturing.sln"
obj/
